# Ignore compiled programs and log files
cilk
omp
mpi
*.o
*.log
*.dat

# Ignore latex auxiliary files and pdfs
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.bbl
*.bcf
*.blg
*.pdf

# Ignore db files
*.db
